body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.btn-modern {
    transition: 0s;
    position: relative;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: burlywood;
}

.btn-modern:hover {
    transition: 0.4s;
    background-color: chocolate;
    padding: 5px 10px;
    margin-top: 5px;
    color: white;
}