.flex {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    height: 300px;
    /* Posicionamiento de un Flex abajo */

    justify-content:space-around;
    align-items: flex-end;
}

.contenido-1 {
    background-color: white;
    /*height: 200px;*/
    width: 100px;
    border: 1px solid blue;
}

.contenido-2 {
    background-color: white;
    /*height: 200px;*/
    width: 100px;
    border: 1px solid blue;
}

.contenido-3 {
    background-color: rgb(238, 121, 213);
    /*height: 200px;*/
    width: 100px;
    border: 1px solid blue;
}
